    <div class="credits text-center">
        <p>
            <a href="">MEAN Stack Shopping Cart Example</a>
        </p>
        <p>
            <h2>Vinod Chauhan</h2>
        </p>
    </div>
</body>
</html>