<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding-left:30px;opacity:100%;color:white;border-bottom:2px solid white;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>U-stora Store</h3>
                    </div>
                    <div class="col-sm-6">
                        <h3>A Trending Shopping Cart</h3>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="padding-top:20px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6" style="color:white;text-align:center;">
                        <h2>Login Form</h2>
                        <span><img src="shopping-cart-icon.png"></img</span>
                    </div>
                    <div class="col-sm-6" style="color:white;">
                        <% if(locals.success) {%>
                            <div class="alert alert-success"><%= success%></div>
                        <%}%> 
                        <% if(locals.error) {%>
                            <div class="alert alert-danger"><%= error%></div>
                        <%}%>    
                        <form method="post">
                            <div class="form-group">
                                <label for="username">User Name :</label>
                                <input type="text" id="username" name="username" style="background-color:#101010;color:#fff;" class="form-control" value="<%= locals.username || ''%>" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password :</label>
                                <input type="password" name="password" id="password" style="background-color:#101010;color:#fff;" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a href="/register" class="btn btn-danger">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>